*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: lightblue;
}
h1{
    color: lightcoral;
}

.textlink{
    color: mediumvioletred;
     font-size: 25px;
     text-decoration: none;
}
