*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    font-size: 25px; 
    background-color:hsl(196, 52%, 78%); 
    text-align:center;
    display: flex;
    color: mediumvioletred;
    
    
}
.h1{
    color: lightcoral;
align-content: center;
width: auto;
height:75px ;


}

.textlink{
    color: mediumvioletred;
     font-size: 25px;
     text-decoration: none;
}


.txt{
    text-align: center;
    margin: 50px;
    max-width:auto ;
    float: left;
}

.edp{
    text-align: justify;
}

button{
    border-radius: 13px;
    font-size: 15px;
    width: 100px;
    height: 60px;
    padding: 13px; 
    color: mediumvioletred;
    background-color: beige;
    transition: 0.5;
}

button:hover{
    background-color: rgb(255, 173, 241);
    height: 70px;
    width: 110px;
    
    }