body {
    background-color: gainsboro;
}

.img2{
    float: left;
    width: 450px;
    border-radius: 3px;
    
}
.content-group {
    margin-top: 50px;
    display: flex;
    width: auto;
    height: auto;
}

.left-side-bar {
    margin-top: 60px;
    background-color: white;
    width: 250px;
    height: 250px;
    left: 20px;
    position: absolute;
    border-radius: 8px;
}

.left-side-bar button {
   
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

.filmes {
    margin-top: px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    
}

.left-side-bar button:hover {
    background-color: rgb(194, 194, 194);
    color: rgb(3, 1, 1);
}

.left-side-bar button.active {
    background-color: rgb(194, 194, 194);
    color: rgb(3, 1, 1);
}

.flex-center {
    display: flex;
    justify-content: space-between;
}

.articles {
    margin: 50px 40px 0px 0px;
    width: auto;
    height: auto;
}

.cardBox2 {
    color: black;
    background-color: white; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    margin-left: 50px;
    padding: 0px 12px;
    height: auto;
    width: 1000px;
    left: 239px;
    position:relative;
}

.card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.edp{
    font-size: 15px;
    margin-left: 5%;
    margin-right: 9%;
    text-align:justify;
    padding-bottom: 35px;
}

h1{
    padding-top: 3%;
}
