body{
background-color:rgba(57, 60, 57, 0.414);
display: block;
width: 1000px;
height: 100%;
}


input{
    width: 150px;
    height: 20px;
    margin-bottom: 10px;
border-radius: 4px;
}

.sla{
    width: 100%;
    height:auto;
    margin-bottom: 50px;
    margin-left: 20px;
    background-color: rgba(242, 245, 246, 0.758);
    border-radius: 10px;
}


p{
    width: auto;
    margin-bottom: 50px;
    background-color: rgba(251, 87, 58, 0.758);
}

.org{
    width: 800px;
}

.txt{
    font-size: 20px;
    margin: 10px;
}